.container-geral{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c42a1;
}

.header{
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcd116;
}


.formulario-info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 40%;
    margin-top: 2rem;
    transition: ease 2s;
  }

.formulario-info:hover{
    transform: scale(1.05);
}

.formulario-info input{
    margin-top: 1rem;
}
label {
    font-weight: bold;
    color: #0033a0;
    margin-bottom: 0.25rem;
    display: block;
}

input.form-control:focus {
    border-color: #fcd116;
    outline: 2px solid #fcd116;
    box-shadow: none;
}

button {
    background-color: #0033a0;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 1rem;
    width: 30%;
}

button:hover {
    background-color: #00247d;
}

div{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
        .formulario-info {
        width: 90%;
    }
}